// Set the brand colours on wp-login
$login-color: black;

body.login {
    background-color: white;  
    
    #loginform {
        box-shadow: none;   
    }
}

.login { 
    
    /* Set the size of the login logo */
    h1 a {
        background-image: url('../img/login-logo.png');
        background-size: 188px 141px;
        width: 188px;
        height: 141px;
    }

    /* Hide the "Back to (website)" link */
    p#backtoblog {
        display: none;
    }

    /* Hide the "Log in" link on the last password page, as it's pointless*/
    &.login-action-lostpassword p#nav{
           display: none;   
    }

    /* Center align the Lost Password link */
    &.login-action-login p#nav{
           text-align: center;
    }

    input#wp-submit {
        background-color: $login-color;
        border-color: darken($login-color, 5%);

        &:hover, &:focus {
            background-color: darken($login-color, 10%);
            border-color: darken($login-color, 15%);
        }
    }
        
    .message {
        border-left-color: $login-color;
    }
}